.main-content
  .row
    // Profile Info and Notifications
    .col-md-6.col-sm-8.clearfix
      ul.user-info.pull-left.pull-none-xsm
        // Profile Info
        li.profile-info.dropdown
          // add class "pull-right" if you want to place this from right
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            img.img-circle(src='assets/images/thumb-1@2x.png', alt='', width='44')
            | 					Art Ramadani
          ul.dropdown-menu
            // Reverse Caret
            li.caret
            // Profile sub-links
            li
              a(href='extra-timeline.html')
                i.entypo-user
                | 							Edit Profile
            li
              a(href='mailbox.html')
                i.entypo-mail
                | 							Inbox
            li
              a(href='extra-calendar.html')
                i.entypo-calendar
                | 							Calendar
            li
              a(href='#')
                i.entypo-clipboard
                | 							Tasks
      ul.user-info.pull-left.pull-right-xs.pull-none-xsm
        // Raw Notifications
        li.notifications.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            i.entypo-attention
            span.badge.badge-info 6
          ul.dropdown-menu
            li.top
              p.small
                a.pull-right(href='#') Mark all Read
                | 		You have
                strong 3
                |  new notifications.
            li
              ul.dropdown-menu-list.scroller
                li.unread.notification-success
                  a(href='#')
                    i.entypo-user-add.pull-right
                    span.line
                      strong New user registered
                    span.line.small
                      | 30 seconds ago
                li.unread.notification-secondary
                  a(href='#')
                    i.entypo-heart.pull-right
                    span.line
                      strong Someone special liked this
                    span.line.small
                      | 2 minutes ago
                li.notification-primary
                  a(href='#')
                    i.entypo-user.pull-right
                    span.line
                      strong Privacy settings have been changed
                    span.line.small
                      | 3 hours ago
                li.notification-danger
                  a(href='#')
                    i.entypo-cancel-circled.pull-right
                    span.line
                      | John cancelled the event
                    span.line.small
                      | 9 hours ago
                li.notification-info
                  a(href='#')
                    i.entypo-info.pull-right
                    span.line
                      | The server is status is stable
                    span.line.small
                      | yesterday at 10:30am
                li.notification-warning
                  a(href='#')
                    i.entypo-rss.pull-right
                    span.line
                      | New comments waiting approval
                    span.line.small
                      | last week
            li.external
              a(href='#') View all notifications
        // Message Notifications
        li.notifications.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            i.entypo-mail
            span.badge.badge-secondary 10
          ul.dropdown-menu
            li
              ul.dropdown-menu-list.scroller
                li.active
                  a(href='#')
                    span.image.pull-right
                      img.img-circle(src='assets/images/thumb-1.png', alt='')
                    span.line
                      strong Luc Chartier
                      | 					- yesterday
                    span.line.desc.small
                      | This ain’t our first item, it is the best of the rest.
                li.active
                  a(href='#')
                    span.image.pull-right
                      img.img-circle(src='assets/images/thumb-2.png', alt='')
                    span.line
                      strong Salma Nyberg
                      | 					- 2 days ago
                    span.line.desc.small
                      | Oh he decisively impression attachment friendship so if everything.
                li
                  a(href='#')
                    span.image.pull-right
                      img.img-circle(src='assets/images/thumb-3.png', alt='')
                    span.line
                      | Hayden Cartwright
                      | - a week ago
                    span.line.desc.small
                      | Whose her enjoy chief new young. Felicity if ye required likewise so doubtful.
                li
                  a(href='#')
                    span.image.pull-right
                      img.img-circle(src='assets/images/thumb-4.png', alt='')
                    span.line
                      | Sandra Eberhardt
                      | - 16 days ago
                    span.line.desc.small
                      | On so attention necessary at by provision otherwise existence direction.
            li.external
              a(href='mailbox.html') All Messages
        // Task Notifications
        li.notifications.dropdown
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-hover='dropdown', data-close-others='true')
            i.entypo-list
            span.badge.badge-warning 1
          ul.dropdown-menu
            li.top
              p You have 6 pending tasks
            li
              ul.dropdown-menu-list.scroller
                li
                  a(href='#')
                    span.task
                      span.desc Procurement
                      span.percent 27%
                    span.progress
                      span.progress-bar.progress-bar-success(style='width: 27%;')
                        span.sr-only 27% Complete
                li
                  a(href='#')
                    span.task
                      span.desc App Development
                      span.percent 83%
                    span.progress.progress-striped
                      span.progress-bar.progress-bar-danger(style='width: 83%;')
                        span.sr-only 83% Complete
                li
                  a(href='#')
                    span.task
                      span.desc HTML Slicing
                      span.percent 91%
                    span.progress
                      span.progress-bar.progress-bar-success(style='width: 91%;')
                        span.sr-only 91% Complete
                li
                  a(href='#')
                    span.task
                      span.desc Database Repair
                      span.percent 12%
                    span.progress.progress-striped
                      span.progress-bar.progress-bar-warning(style='width: 12%;')
                        span.sr-only 12% Complete
                li
                  a(href='#')
                    span.task
                      span.desc Backup Create Progress
                      span.percent 54%
                    span.progress.progress-striped
                      span.progress-bar.progress-bar-info(style='width: 54%;')
                        span.sr-only 54% Complete
                li
                  a(href='#')
                    span.task
                      span.desc Upgrade Progress
                      span.percent 17%
                    span.progress.progress-striped
                      span.progress-bar.progress-bar-important(style='width: 17%;')
                        span.sr-only 17% Complete
            li.external
              a(href='#') See all tasks
    // Raw Links
    .col-md-6.col-sm-4.clearfix.hidden-xs
      ul.list-inline.links-list.pull-right
        // Language Selector
        li.dropdown.language-selector
          | Language:  
          a.dropdown-toggle(href='#', data-toggle='dropdown', data-close-others='true')
            img(src='assets/images/flag-uk.png')
          ul.dropdown-menu.pull-right
            li
              a(href='#')
                img(src='assets/images/flag-de.png')
                span Deutsch
            li.active
              a(href='#')
                img(src='assets/images/flag-uk.png')
                span English
            li
              a(href='#')
                img(src='assets/images/flag-fr.png')
                span François
            li
              a(href='#')
                img(src='assets/images/flag-al.png')
                span Shqip
            li
              a(href='#')
                img(src='assets/images/flag-es.png')
                span Español
        li.sep
        li
          a(href='#', data-toggle='chat', data-animate='1', data-collapse-sidebar='1')
            i.entypo-chat
            | 					Chat
            span.badge.badge-success.chat-notifications-badge.is-hidden 0
        li.sep
        li
          a(href='extra-login.html')
            | Log Out
            i.entypo-logout.right
  hr
  ol.breadcrumb.bc-3
    li
      a(href='index.html')
        i.entypo-home
        | Home
    li.active
      strong Charts
  h2 Charts
  br
  .row
    .col-md-12
      .panel.panel-primary
        .panel-heading
          .panel-title Morris Charts
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        table.table.table-bordered
          tbody
            tr
              td(width='50%')
                strong Area Chart
                br
                #chart10(style='height: 300px')
              td
                strong Line Chart
                br
                #chart8(style='height: 300px')
        table.table.table-bordered
          tbody
            tr
              td(width='50%')
                strong Bar Charts
                br
                #chart3(style='height: 250px')
              td
                strong Bars Stacked
                br
                #chart4(style='height: 250px')
        table.table.table-bordered
          tbody
            tr
              td(width='33%')
                strong Donut Charts
                br
                #chart5(style='height: 250px')
              td(width='33%')
                strong Colored
                br
                #chart6(style='height: 250px')
              td(width='33%')
                strong Formatted
                br
                #chart7(style='height: 250px')
        table.table.table-bordered
          tbody
            tr
              td
                strong Line Chart
                br
                #chart9(style='height: 300px')
  .row
  .row
    .col-md-7
      .panel.panel-primary
        .panel-heading
          .panel-title Peity Charts - Minimal Charts
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        table.table.table-bordered
          thead
            tr
              th(width='15%') Graph
              th Data Type
              th(width='30%') Total
          tbody
            tr
              td
                span.updating-chart 5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2
              td
                | Realtime Stats - Currently Active Users
              td
                span.label.label-info Online
                span#peity-right-now 10 users
            tr
              td
                span.line 3,5,1,6,2,1,1,6,7
              td
                | Visits
              td
                | 16,436
            tr
              td
                span.line 2,4,4,1,2,3,1,1,2,6,5,1,7,8,4,2,3
              td
                | Unique Visits
              td
                | 11,321
            tr
              td
                span.bar 5,3,9,6,5,9,7,3,5,2,7,3,2,9,10,6,4,9,7,8
              td Bounce Rate
              td 35.42%
            tr
              td
                span.bar 4,5,1,6,7,7,3,2,9,10,6,4,9,7,1,3,9,10,12
              td
                | New Visits
                span.label.label-success 3.39% Increase
              td 12.67%
            tr
              td
                span.pie 60.1,39.9
              td
                | New Visitor vs Returning Visitor
              td
                | 60.1% / 39.9%
            tr
              td
                span.pie 84.6,15.4
              td
                | Direct vs Referral
              td
                | 84.6% / 15.4%
    .col-md-5
      .panel.panel-primary
        .panel-heading
          .panel-title Rickshaw Charts
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-1')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        .panel-body
          strong Stacked Area
          br
          #chart1
        .panel-body
          strong Mixture
          br
          #chart2
  script(type='text/javascript').
    jQuery(document).ready(function($)
    {
      $('.inlinebar').sparkline('html', {type: 'bar', barColor: '#ff6264'} );
      $('.inlinebar-2').sparkline('html', {type: 'bar', barColor: '#445982'} );
      $('.inlinebar-3').sparkline('html', {type: 'bar', barColor: '#00b19d'} );
      $('.bar-2').sparkline([ [1,4], [2, 3], [3, 2], [4, 1] ], { type: 'bar' });
      $('.pie-2').sparkline('html', {type: 'pie',borderWidth: 0, sliceColors: ['#3d4554', '#ee4749','#00b19d']});
      $('.linechart').sparkline();
      $(".pie-large").sparkline([3,2,5], {
        type: 'pie',
        width: '150px ',
        height: '150px',
        sliceColors: ['#ee4749', '#c13638','#fe9193']
      });
      $(".line-large").sparkline([5,6,7,9,10,5,3,4,5,4,6,7, ], {
        type: 'line',
        width: '320px ',
        height: '150px',
        lineColor: '#ff4e50',
        highlightLineColor: '#ff8889',
        highlightSpotColor: '#b22425',
        minSpotColor: '#ff4e50',
        maxSpotColor: '#ff4e50',
        fillColor: '#f79696',
        lineWidth: 2,
        spotRadius: 4.5,
        normalRangeColor: '#ed4949'
      });
      $(".bar-large").sparkline([5,6,7,2,1,0,4,3,5,7,2,4], {
        type: 'bar',
        barColor: '#ff6264',
        height: '150px',
        barWidth: 10,
        barSpacing: 2
      });
    });
  h2 Sparkline Charts
  br
  .row
    .col-md-12
      .panel.panel-primary
        .panel-heading
          .panel-title User Activity
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-3')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        table.table.table-bordered.table-responsive
          thead
            tr
              th Activity
              th Name
              th Position
          tbody
            tr
              td
                span.inlinebar 4,3,5,4,5,6
              td Art Ramadani
              td CEO
            tr
              td
                span.inlinebar-3 5,3,2,5,4,5
              td Arlind Nushi
              td Co-Founder
            tr
              td
                span.inlinebar-2 1,3,4,5,3,5
              td Filan Fisteku
              td Member
            tr
              td
                span.bar-2 1:4,2:3,3:2,4:1
              td Arber Nushi
              td Manager
            tr
              td
                span.pie-2 3,4,6
              td Eroll Maxhuni
              td Developer
            tr
              td
                span.linechart 5,3,2,5,4,5,7,6,3
              td Arjan Halili
              td Pre-Press Designer
  .row
    .col-md-4
      .panel.panel-default(data-collapsed='0')
        // to apply shadow add class "panel-shadow"
        // panel head
        .panel-heading
          .panel-title Large Chart Pie
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-3')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        // panel body
        .panel-body
          p
            | Was certainty remaining engrossed applauded sir how discovery. Bore tall nay many many time yet less. Doubtful for answered one fat indulged margaret sir shutters together.
          br
          .text-center
            span.pie-large
    .col-md-4
      .panel.panel-default(data-collapsed='0')
        // to apply shadow add class "panel-shadow"
        // panel head
        .panel-heading
          .panel-title Large Line Chart
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-3')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        // panel body
        .panel-body
          p
            | Was certainty remaining engrossed applauded sir how discovery. Bore tall nay many many time yet less. Doubtful for answered one fat indulged margaret sir shutters together.
          br
          .text-center
            span.line-large
    .col-md-4
      .panel.panel-default(data-collapsed='0')
        // to apply shadow add class "panel-shadow"
        // panel head
        .panel-heading
          .panel-title Large Bar Chart
          .panel-options
            a.bg(href='#sample-modal', data-toggle='modal', data-target='#sample-modal-dialog-3')
              i.entypo-cog
            a(href='#', data-rel='collapse')
              i.entypo-down-open
            a(href='#', data-rel='reload')
              i.entypo-arrows-ccw
            a(href='#', data-rel='close')
              i.entypo-cancel
        // panel body
        .panel-body
          p
            | Was certainty remaining engrossed applauded sir how discovery. Bore tall nay many many time yet less. Doubtful for answered one fat indulged margaret sir shutters together.
          br
          .text-center
            span.bar-large
  // Footer
  footer.main
    | © 2014
    strong Neon
    |  Admin Theme by
    a(href='http://laborator.co', target='_blank') Laborator
#chat.fixed(data-current-user='Art Ramadani', data-order-by-status='1', data-max-chat-history='25')
  .chat-inner
    h2.chat-header
      a.chat-close(href='#', data-animate='1')
        i.entypo-cancel
      i.entypo-users
      | 			Chat
      span.badge.badge-success.is-hidden 0
    #group-1.chat-group
      strong Favorites
      a#sample-user-123(href='#', data-conversation-history='#sample_history')
        span.user-status.is-online
        em Catherine J. Watkins
      a(href='#')
        span.user-status.is-online
        em Nicholas R. Walker
      a(href='#')
        span.user-status.is-busy
        em Susan J. Best
      a(href='#')
        span.user-status.is-offline
        em Brandon S. Young
      a(href='#')
        span.user-status.is-idle
        em Fernando G. Olson
    #group-2.chat-group
      strong Work
      a(href='#')
        span.user-status.is-offline
        em Robert J. Garcia
      a(href='#', data-conversation-history='#sample_history_2')
        span.user-status.is-offline
        em Daniel A. Pena
      a(href='#')
        span.user-status.is-busy
        em Rodrigo E. Lozano
    #group-3.chat-group
      strong Social
      a(href='#')
        span.user-status.is-busy
        em Velma G. Pearson
      a(href='#')
        span.user-status.is-offline
        em Margaret R. Dedmon
      a(href='#')
        span.user-status.is-online
        em Kathleen M. Canales
      a(href='#')
        span.user-status.is-offline
        em Tracy J. Rodriguez
  // conversation template
  .chat-conversation
    .conversation-header
      a.conversation-close(href='#')
        i.entypo-cancel
      span.user-status
      span.display-name
      small
    ul.conversation-body
    .chat-textarea
      textarea.form-control.autogrow(placeholder='Type your message')
// Chat Histories
ul#sample_history.chat-history
  li
    span.user Art Ramadani
    p Are you here?
    span.time 09:00
  li.opponent
    span.user Catherine J. Watkins
    p This message is pre-queued.
    span.time 09:25
  li.opponent
    span.user Catherine J. Watkins
    p Whohoo!
    span.time 09:26
  li.opponent.unread
    span.user Catherine J. Watkins
    p Do you like it?
    span.time 09:27
// Chat Histories
ul#sample_history_2.chat-history
  li.opponent.unread
    span.user Daniel A. Pena
    p I am going out.
    span.time 08:21
  li.opponent.unread
    span.user Daniel A. Pena
    p Call me when you see this message.
    span.time 08:27
