block footer
  // build:js(client) app/global.js
  // bower:js
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='/bower_components/angular/angular.js')
  script(src='/bower_components/angular-route/angular-route.js')
  script(src='/bower_components/json3/lib/json3.js')
  script(src='/bower_components/get-style-property/get-style-property.js')
  script(src='/bower_components/get-size/get-size.js')
  script(src='/bower_components/matches-selector/matches-selector.js')
  script(src='/bower_components/eventie/eventie.js')
  script(src='/bower_components/doc-ready/doc-ready.js')
  script(src='/bower_components/eventEmitter/EventEmitter.js')
  script(src='/bower_components/fizzy-ui-utils/utils.js')
  script(src='/bower_components/outlayer/outlayer.js')
  script(src='/bower_components/masonry/masonry.js')
  script(src='/bower_components/isotope/js/isotope.js')
  script(src='/bower_components/icheck/icheck.min.js')
  script(src='/bower_components/codemirror/lib/codemirror.js')
  script(src='/bower_components/ckeditor/ckeditor.js')
  script(src='/bower_components/datatables/media/js/jquery.dataTables.js')
  script(src='/bower_components/underscore/underscore.js')
  script(src='/bower_components/moment/moment.js')
  script(src='/bower_components/timepicker/lib/timepicker/timepicker.js')
  script(src='/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.js')
  script(src='/bower_components/daterangepicker/lib/daterangepicker/daterangepicker.js')
  script(src='/bower_components/dropzone/dist/min/dropzone.min.js')
  script(src='/bower_components/fullcalendar/dist/fullcalendar.js')
  script(src='/bower_components/gsap/src/uncompressed/TweenMax.js')
  script(src='/bower_components/jquery-ui/jquery-ui.js')
  script(src='/bower_components/rickshaw/rickshaw.js')
  script(src='/bower_components/select2/dist/js/select2.js')
  script(src='/bower_components/uikit/js/uikit.min.js')
  script(src='/bower_components/vertical-timeline/js/main.js')
  // endbower
  // endbuild
  // build:js(client) app/main.js
  script(src='/app/main.js')
  // [injector:js]
  script(src='/app/home/home.controller.js')
  script(src='/app/home/home.js')
  // [endinjector]
  // endbuild
