head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='description', content='Neon Admin Panel')
  meta(name='author', content='')
  title Neon | Dashboard
  link(rel='stylesheet', href='assets/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css')
  link(rel='stylesheet', href='styles/font-icons/entypo/css/entypo.css')
  link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic')
  link(rel='stylesheet', href='styles/bootstrap.css')
  link(rel='stylesheet', href='styles/neon-core.css')
  link(rel='stylesheet', href='styles/neon-theme.css')
  link(rel='stylesheet', href='styles/neon-forms.css')
  link(rel='stylesheet', href='styles/custom.css')
  script(src='assets/js/jquery-1.11.0.min.js')
  //if lt IE 9
    script(src='assets/js/ie8-responsive-file-warning.js')
  // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  // build:css(client) styles/global.css
  // bower:css
  link(rel='stylesheet', href='/bower_components/normalize.css/normalize.css')
  link(rel='stylesheet', href='/bower_components/codemirror/lib/codemirror.css')
  link(rel='stylesheet', href='/bower_components/datatables/media/css/jquery.dataTables.css')
  link(rel='stylesheet', href='/bower_components/dropzone/dist/min/dropzone.min.css')
  link(rel='stylesheet', href='/bower_components/fullcalendar/dist/fullcalendar.css')
  link(rel='stylesheet', href='/bower_components/select2/dist/css/select2.css')
  link(rel='stylesheet', href='/bower_components/uikit/css/uikit.min.css')
  // endbower
  // endbuild
  link(rel='stylesheet', href='/styles/main.css')
  // build:js(client) app/modernizr.js
  script(src='/bower_components/modernizr/modernizr.js')
  // endbuild
  // HTML5 and consolelog shims for IE8 support
  // build:js(client) app/lt-ie9.js
  //if lt IE 9
    script(src='/bower_components/consolelog/consolelog.js')
    script(src='/bower_components/html5shiv/dist/html5shiv-printshiv.js')
  // endbuild
