.sidebar-menu
  header.logo-env
    // logo
    .logo
      a(href='index.html')
        img(src='assets/images/logo@2x.png', width='120', alt='')
    // logo collapse icon
    .sidebar-collapse
      a.sidebar-collapse-icon.with-animation(href='#')
        // add class "with-animation" if you want sidebar to have animation during expanding/collapsing transition
        i.entypo-menu
    // open/close menu icon (do not remove if you want to enable menu on mobile devices)
    .sidebar-mobile-menu.visible-xs
      a.with-animation(href='#')
        // add class "with-animation" to support animation
        i.entypo-menu
  ul#main-menu
    // add class "multiple-expanded" to allow multiple submenus to open
    // class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active"
    // Search Bar
    li#search
      form(method='get', action='')
        input.search-input(type='text', name='q', placeholder='Search something...')
        button(type='submit')
          i.entypo-search
    li.active.opened.active
      a(href='index.html')
        i.entypo-gauge
        span Dashboard
      ul
        li.active
          a(href='index.html')
            span Dashboard 1
        li
          a(href='dashboard-2.html')
            span Dashboard 2
        li
          a(href='dashboard-3.html')
            span Dashboard 3
        li
          a(href='skin-black.html')
            span Skins
          ul
            li
              a(href='skin-black.html')
                span Black Skin
            li
              a(href='skin-white.html')
                span White Skin
            li
              a(href='skin-purple.html')
                span Purple Skin
            li
              a(href='skin-cafe.html')
                span Cafe Skin
            li
              a(href='skin-red.html')
                span Red Skin
            li
              a(href='skin-green.html')
                span Green Skin
            li
              a(href='skin-yellow.html')
                span Yellow Skin
            li
              a(href='skin-blue.html')
                span Blue Skin
        li
          a(href='highlights.html')
            span What's New
            span.badge.badge-success.badge-roundless v1.7
    li
      a(href='layout-api.html')
        i.entypo-layout
        span Layouts
      ul
        li
          a(href='layout-api.html')
            span Layout API
        li
          a(href='layout-collapsed-sidebar.html')
            span Collapsed Sidebar
        li
          a(href='layout-fixed-sidebar.html')
            span Fixed Sidebar
        li
          a(href='layout-chat-open.html')
            span Chat Open
        li
          a(href='layout-horizontal-menu-boxed.html')
            span Horizontal Menu Boxed
        li
          a(href='layout-horizontal-menu-fluid.html')
            span Horizontal Menu Fluid
        li
          a(href='layout-mixed-menus.html')
            span Mixed Menus
        li
          a(href='layout-right-sidebar.html')
            span Right Sidebar
        li
          a(href='layout-both-menus-right-sidebar.html')
            span Both Menus (Right Sidebar)
        li
          a(href='layout-page-transition-fade.html')
            span Page Enter Transitions
          ul
            li
              a(href='layout-page-transition-fade.html')
                span Fade Scale
            li
              a(href='layout-page-transition-left-in.html')
                span Left In
            li
              a(href='layout-page-transition-right-in.html')
                span Right In
            li
              a(href='layout-page-transition-fade-only.html')
                span Fade Only
        li
          a(href='layout-boxed.html')
            span Boxed Layout
            span.badge.badge-secondary.badge-roundless New
    li
      a(href='index.html', target='_blank')
        i.entypo-monitor
        span Frontend
    li
      a(href='ui-panels.html')
        i.entypo-newspaper
        span UI Elements
      ul
        li
          a(href='ui-panels.html')
            span Panels
        li
          a(href='ui-tiles.html')
            span Tiles
        li
          a(href='forms-buttons.html')
            span Buttons
        li
          a(href='ui-typography.html')
            span Typography
        li
          a(href='ui-tabs-accordions.html')
            span Tabs & Accordions
        li
          a(href='ui-tooltips-popovers.html')
            span Tooltips & Popovers
        li
          a(href='ui-navbars.html')
            span Navbars
        li
          a(href='ui-breadcrumbs.html')
            span Breadcrumbs
        li
          a(href='ui-badges-labels.html')
            span Badges & Labels
        li
          a(href='ui-progress-bars.html')
            span Progress Bars
        li
          a(href='ui-modals.html')
            span Modals
        li
          a(href='ui-blockquotes.html')
            span Blockquotes
        li
          a(href='ui-alerts.html')
            span Alerts
        li
          a(href='ui-pagination.html')
            span Pagination
    li
      a(href='mailbox.html')
        i.entypo-mail
        span Mailbox
        span.badge.badge-secondary 8
      ul
        li
          a(href='mailbox.html')
            i.entypo-inbox
            span Inbox
        li
          a(href='mailbox-compose.html')
            i.entypo-pencil
            span Compose Message
        li
          a(href='mailbox-message.html')
            i.entypo-attach
            span View Message
    li
      a(href='forms-main.html')
        i.entypo-doc-text
        span Forms
      ul
        li
          a(href='forms-main.html')
            span Basic Elements
        li
          a(href='forms-advanced.html')
            span Advanced Plugins
        li
          a(href='forms-wizard.html')
            span Form Wizard
        li
          a(href='forms-validation.html')
            span Data Validation
        li
          a(href='forms-masks.html')
            span Input Masks
        li
          a(href='forms-sliders.html')
            span Sliders
        li
          a(href='forms-file-upload.html')
            span File Upload
        li
          a(href='forms-wysiwyg.html')
            span Editors
    li
      a(href='tables-main.html')
        i.entypo-window
        span Tables
      ul
        li
          a(href='tables-main.html')
            span Basic Tables
        li
          a(href='tables-datatable.html')
            span Data Tables
    li
      a(href='extra-icons.html')
        i.entypo-bag
        span Extra
        span.badge.badge-info.badge-roundless New Items
      ul
        li
          a(href='extra-icons.html')
            span Icons
            span.badge.badge-success 3
          ul
            li
              a(href='extra-icons.html')
                span Font Awesome
            li
              a(href='extra-icons-entypo.html')
                span Entypo
            li
              a(href='extra-icons-glyphicons.html')
                span Glyph Icons
        li
          a(href='extra-portlets.html')
            span Portlets
        li
          a(href='extra-google-maps.html')
            span Maps
          ul
            li
              a(href='extra-google-maps.html')
                span Google Maps
            li
              a(href='extra-vector-maps.html')
                span Vector Maps
        li
          a(href='extra-chat-api.html')
            span Chat API
        li
          a(href='extra-calendar.html')
            span Calendar
        li
          a(href='extra-notes.html')
            span Notes
        li
          a(href='extra-lockscreen.html')
            span Lockscreen
        li
          a(href='extra-login.html')
            span Login
        li
          a(href='extra-register.html')
            span Register
        li
          a(href='extra-invoice.html')
            span Invoice
        li
          a(href='extra-members.html')
            span Members
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-gallery.html')
            span Gallery
          ul
            li
              a(href='extra-gallery.html')
                span Albums
            li
              a(href='extra-gallery-single.html')
                span Single Album
        li
          a(href='extra-profile.html')
            span Profile
        li
          a(href='extra-404.html')
            span 404 Page
        li
          a(href='extra-blank-page.html')
            span Blank Page
        li
          a(href='extra-timeline.html')
            span Timeline
        li
          a(href='extra-comments.html')
            span Comments
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-timeline-centered.html')
            span Timeline Centered
        li
          a(href='extra-tocify.html')
            span Tocify
        li
          a(href='ui-notifications.html')
            span Notifications
        li
          a(href='extra-new-post.html')
            span New Post
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-settings.html')
            span Settings
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-scrollbox.html')
            span Scrollbox
        li
          a(href='extra-image-crop.html')
            span Image Crop
        li
          a(href='extra-search.html')
            span Search Page
        li
          a(href='extra-language-selector.html')
            span Language Selector
        li
          a(href='extra-nestable.html')
            span Nestable Lists
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-file-tree.html')
            span File Tree
            span.badge.badge-secondary.badge-roundless New
        li
          a(href='extra-load-progress.html')
            span Load Progress
            span.badge.badge-secondary.badge-roundless New
    li
      a(href='charts.html')
        i.entypo-chart-bar
        span Charts
    li
      a(href='#')
        i.entypo-flow-tree
        span Menu Levels
      ul
        li
          a(href='#')
            i.entypo-flow-line
            span Menu Level 1.1
        li
          a(href='#')
            i.entypo-flow-line
            span Menu Level 1.2
        li
          a(href='#')
            i.entypo-flow-line
            span Menu Level 1.3
          ul
            li
              a(href='#')
                i.entypo-flow-parallel
                span Menu Level 2.1
            li
              a(href='#')
                i.entypo-flow-parallel
                span Menu Level 2.2
              ul
                li
                  a(href='#')
                    i.entypo-flow-cascade
                    span Menu Level 3.1
                  ul
                    li
                      a(href='#')
                        i.entypo-flow-branch
                        span Menu Level 4.1
                li
                  a(href='#')
                    i.entypo-flow-cascade
                    span Menu Level 3.2
            li
              a(href='#')
                i.entypo-flow-parallel
                span Menu Level 2.3
