<div class="yeogurt-info">
  <h1>Welcome to Yeogurt!</h1>
  <p>
    Take a look at the <a href="https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---" data-bypass>documentation</a> and start mixing up something awesome.
  </p>
  <p>
    <img src="/images/yeogurt-swirl.png" width="75px" class="logo" />
  </p>
  <p class="links">
    <a href="/docs/styleguide/index.html" data-bypass>Styleguide</a>
    <a href="/docs/api/index.html" data-bypass>API</a>
  </p>
</div>
<code class="version">v0.14.6</code>
