<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title>neon Styleguide</title>
  <meta name="description" content="">
  <meta name="generator" content="kss-node" />

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" href="public/kss.css">
  <link rel="stylesheet" href="public/style.css">

</head>
<body class="styleguide-body-wrapper">
  <div class="styleguide-wrapper styleguide-cf">
    <div class="styleguide-container">
      <div class="styleguide-mobile-bar"></div>
      <div class="styleguide-menu-container">
        <div class="styleguide-button-wrapper">
          <a class="styleguide-nav-toggle" href="#">
            <span></span>
          </a>
        </div>
        <div class="scroll-wrapper">
          <ul class="styleguide-menu">
            <li class="styleguide-menu-title">Table of Contents</li>
            <li><a href="index.html">0. Overview</a></li>
            {{#eachRoot}}
            <li><a href="section-{{reference}}.html">{{reference}}. {{header}}</a></li>
            {{/eachRoot}}
          </ul>
        </div>
      </div>
      <div class="styleguide-content">
      {{#if overview}}
        <div class="styleguide-markdown">
          {{{ overview }}}
        </div>
      {{else}}
        {{#eachSection rootNumber}}
          <div class="styleguide-example">
            {{#ifDepth 1}}
            <h3><span>{{reference}}.0</span> - {{header}}</h3>
            {{else}}
            <h3><span>{{reference}}</span> - {{header}}</h3>
            {{/ifDepth}}
            <div class="styleguide-description styleguide-markdown">
              {{#if description}}
              <p>{{{description}}}</p>
              {{/if}}
              {{#if modifiers}}
              <div class="styleguide-modifier">
                {{#eachModifier}}
                <div class="styleguide-modifier-item"><strong>{{name}}</strong> - {{{description}}}</div>
                {{/eachModifier}}
              </div>
              {{/if}}
            </div>
            {{#if markup}}
            <div class="styleguide-element">
              <div class="styleguide-css">
                <div class="styleguide-css">
                  {{modifierMarkup}}
                </div>
              </div>
            </div>
            {{#eachModifier}}
            <div class="styleguide-element styleguide-modifier">
              <span class="styleguide-modifier-name">{{name}}</span>
              <div class="styleguide-css">{{modifierMarkup}}</div>
            </div>
            {{/eachModifier}}
            <div class="styleguide-html">
              <pre class="prettyprint lang-html">{{markup}}</pre>
            </div>
            {{/if}}
          </div>
        {{/eachSection}}
      {{/if}}
      </div>
    </div>
  </div>

<!-- SCRIPTS -->
<script src="public/kss.js"></script>
<script src="public/prettify.js"></script>
<script src="public/jquery.js"></script>
<script>
/* global prettyPrint:true */
/* global $:true */
$(function() {
  'use strict';
  // Ensure code blocks are highlighted properly...
  $('pre code').addClass('prettyprint');
  prettyPrint();

  // Set up mobile menu toggle
  var $button = $('.styleguide-nav-toggle');
  var $menu = $(' .styleguide-menu-container ');
  $button.on('click', function() {
    $(this).toggleClass('active');
    $menu.toggleClass('styleguide-drawer-open');
  });
});
</script>
</body>
</html>
