// Main Stylesheet
//
// Global styles
// Define all of your global styles within this file
//
// Styleguide 1.

// Box sizing partial styles:
// Apply a natural box layout model to all elements

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Injects all bower_component files automatically
// bower:less
// endbower

// Injects all import files automatically (ex. _mypartial)
// [injector]
@import 'neon-rtl.less';
@import '../app/home/home.less';
// [endinjector]

.links a {
  color: white;
  margin-right: 5px;
  margin-top: 20px;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #ed7c6c;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  font-size: 100%;
  padding: .5em 1em;
  text-decoration: none;
}



// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}
